body {
  padding-top: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
  font-size: 25px;
}

h1 a {
  color: #CD2C24;
}

h1 a:hover {
  color: #CD2C24;
}

.navbar-default {
  background-color: #fefefe;
  text-align: right;
}

.navbar-default .navbar-nav>li {
  margin: 0px 1px;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  background-color: #CD2C24;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: inline-block;
  border: none;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #9a0901;
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.navbar-default .navbar-brand {
  margin-top: 10px;
}

img.logo {
  width: 200px;
}

img.logoConstruction {
  width: 100%;
  margin: 150px auto 50px;
  display: block;
}

.table.tableInvoices {
  margin: 50px 0;
}

.table.tableInvoices thead {
  background-color: #63A69F;
  color: #fefefe;
}

.table tbody>tr>td {
  border-bottom: 1px solid #eeeeee;
  vertical-align: middle;
}

.table-th thead th {
  text-align: center;
}

.tableInvoices a {
  color: #CD2C24;
}

footer {
  background-color: #3e3e3e;
  color: #fefefe;
  padding: 20px;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

.form-control {
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #CD2C24;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 14px;
}

.form-control:focus {
  border-color: #9a0901;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
  outline: none;
}

select.form-control {
  appearance: none;
  background-color: #ffffff;
  padding: 1px 20px;
  border: 1px solid #CD2C24;
  border-radius: 25px;
  font-size: 14px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

button.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button.btn-primary {
  background-color: #CD2C24;
  color: #fff;
}

button.btn-primary:hover {
  background-color: #9a0901;
  transform: scale(1.05);
}

button.btn-secondary {
  background-color: #63A69F;
  color: #fff;
}

button.btn-secondary:hover {
  background-color: #4f8278;
  transform: scale(1.05);
}

button.btn-danger {
  background-color: #c0392b;
  color: #fff;
}

button.btn-danger:hover {
  background-color: #c0392b;
  transform: scale(1.05);
}

.alert {
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

.alert-info {
  background-color: #63A69F;
  color: #fff;
}

.alert-danger {
  background-color: #e74c3c;
  color: #fff;
}